<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.diagnostics>
        <trace>
            <listeners>
                <!--<add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData ="log.txt"/>-->
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>